body{
    font-family: sans-serif;
    width:100%;
    display: flex;
    justify-content: flex-end;
    
    
  }
  #navbar{
    position:fixed;
    top: 0;
    left:0;
    height: 100%;
    width: 250px;
    overflow: auto;
    padding: auto 10px;
    transition: 0.5s;
    border-right: 3px solid #0a0a23;
  }
  
  #navbar header{
    padding: 12px;
  }
  #navbar a{
  display: block;
  border-top: 1px solid #0a0a23;
  color: #0a0a23;
  padding: 10px 15px;
  text-decoration:none;
  cursor:pointer;
  
  }
  #navbar a:hover{
    background-color:#555;
    color:#fff;
  }
  #main-doc{
   margin-left:260px;
   
  }
  header{
    Font-weight: bold;
    font-size: 25px;
  }
  .code{
    font-family: "times new roman";
    font-size: 14px;
    background-color: #f90;
    color: black;
    padding: 20px;
    border-radius:5px;
  }
  @media (max-width:500px){
    #navbar{
      position:fixed;
      top:0;
      left:0;
      width: 150px;
    }
    #main-doc{
      margin-left: 160px;
      width:100%;
    }
  }